img {
    /* width: 15rem; */
    height: 15rem;
    object-fit: cover;
}

.backgroundPhoto {
    height: 15rem;
    background-image: url(https://images.unsplash.com/photo-1586281380117-5a60ae2050cc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    place-content: center;
    margin-bottom: 2rem;
}

.text {
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0.541);
    color: white;
    padding: 10px;
}

* {
    transition: 300ms all ease-in-out;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

.sortIcon:hover {
    transform: translateX(10px);
}

.sortIcon {
    width: max-content;
    border-radius: 8px;
    border: 2px solid gray;
    padding: .5rem 1rem;
    margin-bottom: 2rem;
    cursor: pointer;
    /* position: relative; */
}
/* 
.sortIcon:hover::after {
    transform: translateX(10px);
    content: 'Sort Items';
    width: 140%;
    height: 100%;
    position: absolute;
    right: -80px;
} */
